.ms-container{
  position: relative;
}

.ms-button{
  background-color: #ffffff;
  border: 1px solid #CCCCCC;
  padding: 10px;
  border-radius: 5px;
}

.ms-button .fa{
  font-weight: bold;
}

.ms-dropdown-container{
  position: absolute;
  background-color: white;
  z-index: 999;
  border: 1px solid #cccccc;
  border-radius: 5px;
  min-width: 250px;
  min-height: 100px;
  max-height: 250px;
  overflow-y: scroll;
  top: 40px;
  -webkit-box-shadow: 8px 9px 19px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 9px 19px -9px rgba(0,0,0,0.75);
  box-shadow: 8px 9px 19px -9px rgba(0,0,0,0.75);
}

.ms-dropdown-container ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ms-dropdown-container ul li{
  padding: 7px 10px;
  font-size: 80%;
}

.ms-dropdown-container ul li:not(:last-child){
  border-bottom: 1px solid #cccccc;
}

.ms-dropdown-container ul li:hover{
  background-color: #FBFBFB;
}

.fa-check{
  color: #049372;
  float: right;
}